<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:cadetblue;">

<nav class="navbar navbar-expand-sm text-white navbar-dark" style="background-color: darkblue;">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Shopping cart</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/index">Home</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li> -->

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Search by categories
      </a>
      <div class="dropdown-menu">
        <% for(var i=0;i<categories.length;i++){ %>
          
        <a class="dropdown-item" href="<%= categories[i].link %>"><%= categories[i].item %></a>
          <% } %>
      </div>
    </li>
  </ul>
</nav>
<br>
<div class="container">
  <div class="row">
    <div class="col">
           
    </div>
  </div>
  <div class="row" style="background-color: #eee;">
      <% for(var i=0;i<laptop.length;i++){ %>
        <div class="w-100 p-3 col-sm-6">
                <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="<%= laptop[i].pic %>" alt="Card image cap" style="max-height: 300px;">
                        <div class="card-body">
                          <h5 class="card-title"><%= laptop[i].name %></h5>
                          <p class="card-text">Price:<%= laptop[i].price %></p>
                          <p class="card-text"><%=laptop[i].description %></p>
                        </div>
                        
                        <div class="card-body">
                         <button><a href="/laptopsingle/<%= i %>" class="card-link">Buy now</a></button>
                          <!-- <a href="#" class="card-link">Another link</a> -->
                        </div>
                      </div>
            </div>
            <% } %>
  </div>
</div>


</body>
</html>
